h1 {
  text-align: center;
}

h3{
  text-align: center;
  
}

.flex-container {
  display: flex;
  
}

.flex-child {
  flex: 1;
  border: 2px solid;
  cursor: pointer;
  background-color:rosybrown;
}

.flex-child:first-child {
  margin-right: 20px;
}