<div class="about-section">
  <h1>!!!!Know Our Goal!!!</h1>
  <p>We are here to provide you online assistance on registering your team with your favorite League </p>
  <p>Currently We have 4 Leagues available. we are working on getting more . so please hang on </p>
</div>

<h2 style="text-align:center">Our Current Leagues</h2>

<div class="flex-container">
  <div class="flex-images">
    <img src="../../assets/images/epl.jpeg" style="width: 100px; height: 100px;">
  </div>
  <div class="flex-text">
    <p>The Premier League, often referred to as the English Premier League or the EPL (legal name: The Football
      Association Premier League Limited), is the top level of the English football league system. Contested by 20
      clubs,
      it operates on a system of promotion and relegation with the English Football League (EFL). Seasons run from
      August
      to May with each team playing 38 matches (playing all 19 other teams both home and away). Most games are played
      on Saturday and Sunday afternoons.
    </p>
  </div>
</div>

<div class="flex-container">
  <div class="flex-images">
    <img src="../../assets/images/La_Liga.jpeg" style="width: 100px; height: 100px;">
  </div>
  <div class="flex-text">
    <p>The Campeonato Nacional de Liga de Primera División, commonly known simply as Primera División in Spain, and
      as La Liga in English-speaking countries and officially as LaLiga Santander for sponsorship reasons,
      stylized as LaLiga, is the men's top professional football division of the Spanish football league system.
      Administered by the Liga Nacional de Fútbol Profesional, is contested by 20 teams, with the three lowest-placed
      teams at the end of each season relegated to the Segunda División and replaced by the top two teams and a play-off
      winner in that division.
    </p>
  </div>
</div>

<div class="flex-container">
  <div class="flex-images">
    <img src="../../assets/images/BundesLiga.jpeg" style="width: 100px; height: 100px;">
  </div>
  <div class="flex-text">
    <p>The Bundesliga, sometimes referred to
      as the Fußball-Bundesliga , is a professional association football
      league in Germany. At the top of the German football league system, the Bundesliga is Germany's primary football
      competition. The Bundesliga comprises 18 teams and operates on a system of promotion and relegation with the 2.
      Bundesliga. Seasons run from August to May. Most games are played on Saturdays and Sundays, with a few games
      played on weekdays. All of the Bundesliga clubs qualify for the DFB-Pokal. The winner of the Bundesliga qualifies
      for the DFL-Supercup.
    </p>
  </div>
</div>

<div class="flex-container">
  <div class="flex-images">
    <img src="../../assets/images/Italy.jpeg" style="width: 100px; height: 100px;">
  </div>
  <div class="flex-text">
    <p>Serie A, also called Serie A TIM for sponsorship reasons, is a
      professional league competition for football clubs located at the top of the Italian football league system and
      the winner is awarded the Scudetto and the Coppa Campioni d'Italia. It has been operating as a round-robin
      tournament for over ninety years since the 1929–30 season.
    </p>
  </div>
</div>
