 <h1>Player's Details of {{groupName}}</h1>
 <p-table #dt [columns]="cols" [value]="members" selectionMode="single" [(selection)]="selectedMember"
   (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
   <ng-template pTemplate="caption">
     Players List
   </ng-template>
   <ng-template pTemplate="header" let-columns>
     <tr>
       <th *ngFor="let col of columns" [pSortableColumn]="col.field">
         {{col.header}}
         <p-sortIcon [field]="col.field"></p-sortIcon>
       </th>
     </tr>
   </ng-template>
   <ng-template pTemplate="body" let-rowData let-columns="columns">
     <tr [pSelectableRow]="rowData">
       <td *ngFor="let col of columns">
         {{rowData[col.field]}}
       </td>
     </tr>
   </ng-template>
   <ng-template pTemplate="summary" let-rowData>
     <div style="text-align:right">
       <button class="back-btn" pButton type="button" iconPos="right" routerLink="teams" (click)="routeToTeams()"
         label="Back"></button>
       <button pButton type="button" icon="pi pi-plus" iconPos="left" (click)="showDialogToAdd()"
         label="Add Player"></button>
     </div>
   </ng-template>
 </p-table>
 <p-dialog header="Member Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
   [style]="{width: '300px'}">
   <div class="ui-g ui-fluid" *ngIf="member">
     <div class="ui-g-12">
       <div class="ui-g-4">
         <label for="MemberName">Player Name</label>
       </div>
       <div [formGroup]="memberForm" class="ui-g-8">
         <input pInputText id="memberName" type="text" formControlName="memberName" placeholder="Player Name"
           maxlength="30" [ngClass]="{'error':
             !memberForm.controls['memberName'].valid&&memberForm.controls['memberName'].touched}"
           [(ngModel)]="member.MemberName" />
         <div class="ui-messages-error" *ngIf="!memberForm.valid && memberForm.controls['memberName'].dirty">
           <span *ngIf="memberForm.controls['memberName'].hasError('required')">This field is required</span>
         </div>
       </div>
     </div>
     <div class="ui-g-12">
       <div class="ui-g-4">
         <label for="MemberPhone">Player Phone</label>
       </div>
       <div [formGroup]="memberForm" class="ui-g-8">
         <input pInputText id="memberPhone" type="text" formControlName="memberPhone" placeholder="Player Phone"
           maxlength="10" [ngClass]="{'error':
             !memberForm.controls['memberPhone'].valid&&memberForm.controls['memberPhone'].touched}"
           [(ngModel)]="member.MemberPhone" />
         <div class="ui-messages-error" *ngIf="!memberForm.valid && memberForm.controls['memberPhone'].dirty">
           <span *ngIf="memberForm.controls['memberPhone'].hasError('required')">This field is required</span>
           <span *ngIf="memberForm.controls['memberPhone'].hasError('pattern')">Only numbers allowed</span>
         </div>
       </div>
     </div>
     <div class="ui-g-12">
       <div class="ui-g-4">
         <label for="MemberEmail">Player Email</label>
       </div>
       <div [formGroup]="memberForm" class="ui-g-8">
         <input pInputText id="memberEmail" type="text" formControlName="memberEmail" placeholder="Player Email"
           maxlength="30" [ngClass]="{'error':
             !memberForm.controls['memberEmail'].valid&&memberForm.controls['memberEmail'].touched}"
           [(ngModel)]="member.MemberEmail" />
         <div class="ui-messages-error" *ngIf="!memberForm.valid && memberForm.controls['memberEmail'].dirty">
           <span *ngIf="memberForm.controls['memberEmail'].hasError('required')">This field is required</span>
           <span *ngIf="memberForm.controls['memberEmail'].hasError('pattern')">This field should be an e-mail address
             in
             the format "user@example.com"</span>
         </div>
       </div>
     </div>
   </div>
   <p-footer>
     <div [formGroup]="memberForm" class="ui-dialog-buttonpane ui-helper-clearfix">
       <button type="button" pButton *ngIf="member.MemberId" (click)="delete(member.MemberId)" label="Delete"></button>
       <button type="button" [disabled]="!(memberForm.valid && memberForm.dirty)" pButton (click)="save(member)"
         label="Save"></button>
     </div>
   </p-footer>
 </p-dialog>
